.links {
  background-color: transparent;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;

  .link {
    background-color: transparent;
    border: 3px solid $bg-dark;
    border-radius: 55px;
    font-size: 1.8rem;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    color: black;
    display: inline;
    margin: 0 5%;
    transition: all 0.1s ease;

    @media (max-width: 900px) {
      margin: 0 4%;
      font-size: 1.5rem;
      padding: 7px 12px 7px 12px;
    }

    @media (max-width: 600px) {
      padding: 5px 8px 5px 8px;
      font-size: 1.3rem;
      margin: 1% 1%;
    }
  }

  .link:hover {
    border: 3px solid $text;
    background-color: $bg-dark;
  }

  @media (max-width: 500px) {
    flex-wrap: wrap;
  }
}

h2 {
  font-size: 3rem;
  text-align: center;
  line-height: 1.5;
  color: $bg-dark;
  font-family: "Lora", serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  max-width: 1200px;
  margin: auto;

  @media (max-width: 900px) {
    font-size: 2.5rem;
  }

  @media (max-width: 700px) {
    flex-direction: column;
    font-size: 2.2rem;
  }
}

span {
  color: $text;
  margin: 0 5px;

  @media (max-width: 700px) {
    display: none;
  }
}

.activeProj {
  color: $bg-dark;
}

.top {
  background-color: transparent;
  border: 3px solid #975030;
  border-radius: 55px;
  font-size: 1.8rem;
  //   padding: 10px 20px 10px 20px;
  cursor: pointer;
  color: black;
  display: inline;
  margin: 0 5px;
  outline: none;
  width: 100px;
  &:hover {
    border: 3px solid $text;
  }
}
