.header_container {
    background-color: $bg-dark;
    width: 100%;
    height: 450px;
    // border-radius: 0 0 10% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $bg-dark;

    .header-frame {
        background-color: $bg-light;
        box-shadow: 10px 10px $highlight;
        width: 60%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        @media (max-width: 1300px) {
            width: 90%;
        }


        .header-content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            @media (max-width: 600px) {
                flex-direction: column;
            }

            img {
                height: 170px;
                width: 165px;
                margin-bottom: 50px;
                margin-right: 10px;

                @media (max-width: 600px) {
                    margin-bottom: 0px;
                    height: 116px;
                    width: 123px;
                }
            }

            .intro {
                // width: 66%;
                width: 500px;
                font-family: 'Lora', serif;
                line-height: 1.5;

                @media (max-width: 900px) {
                    width: auto;
                }

                .name {
                    margin-left: 4%;
                    font-size: 5rem;
                    // color: $highlight;
                    color: white;

                    @media (max-width: 900px) {
                        font-size: 4rem;
                        margin-left: 0;
                    }

                    @media (max-width: 600px) {
                        font-size: 2.2rem;
                    }
                }

                .job {
                    margin-left: 4%;
                    font-size: 3rem;
                    // color: $bg-dark;
                    color: white;

                    @media (max-width: 900px) {
                        font-size: 2.5rem;
                        margin-left: 0;
                    }

                    @media (max-width: 600px) {
                        font-size: 2rem;
                    }
                    @media (max-width: 400px) {
                        font-size: 1.7rem;
                    }
                }

                .desc {
                    margin-left: 4%;
                    font-size: 2.5rem;
                    // color: $bg-dark;
                    color: white;
                    margin-bottom: 50px;

                    @media (max-width: 900px) {
                        font-size: 2.2rem;
                        margin-left: 0;
                    }

                    @media (max-width: 600px) {
                        font-size: 2rem;
                        margin-bottom: 20px;
                    }

                    @media (max-width: 400px) {
                        font-size: 1.5rem;
                    }
                }

            }
        }
    }
}

.about {
    margin: 30px auto;

    .descriptions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        font-size: 1.7rem;
        margin: 35px auto;
        max-width: 1000px;

        @media (max-width: 900px) {
            max-width: 660px;
        }

        @media (max-width: 700px) {
            flex-direction: column;
        }


        .desc {
            width: 45%;
            margin: 10px;

            @media (max-width: 700px) {
                width: 90%;
            }

            h3 {
                font-size: 2.4rem;
                color: $bg-dark;
                margin-bottom: 10px;
                font-family: 'Lora', serif;
                font-weight: bold;
            }

            p {
                font-size: 1.7rem;
                line-height: 1.5;
                font-family: 'Lora', serif;

                a {
                    color: $bg-dark;
                    text-decoration: underline;
                    ;
                }
            }

        }
    }
}