.header_container {
    background-color: $bg-dark;
    width: 100%;
    height: 700px;
    border-radius: 0 0 10% 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-frame {
        background-color: $bg-light;
        box-shadow: 10px 10px $highlight;
        width: 60%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        @media (max-width: 1300px) {
            width: 90%;
        }


        .header-content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            @media (max-width: 600px) {
                flex-direction: column;
            }

            img {
                height: 130px;
                width: 130px;
                margin-bottom: 50px;
            }

            .intro {
                width: 60%;
                font-family: 'Lora', serif;
                line-height: 1.5;

                @media (max-width: 900px) {
                    width: auto;
                }

                .name {
                    margin-left: 4%;
                    font-size: 5rem;
                    color: $highlight;

                    @media (max-width: 900px) {
                        font-size: 4rem;
                        margin-left: 0;
                    }
                }

                .job {
                    margin-left: 4%;
                    font-size: 3rem;
                    color: $bg-dark;

                    @media (max-width: 900px) {
                        font-size: 2.5rem;
                        margin-left: 0;
                    }
                }

                .desc {
                    margin-left: 4%;
                    font-size: 2.5rem;
                    color: $bg-dark;
                    margin-bottom: 50px;

                    @media (max-width: 900px) {
                        font-size: 2.2rem;
                        margin-left: 0;
                    }
                }

                .links {
                    background-color: transparent;
                    width: 90%;

                    .link {
                        background-color: transparent;
                        border: 4px solid $bg-dark;
                        border-radius: 55px;
                        font-size: 2.2rem;
                        padding: 14px 30px 12px 30px;
                        cursor: pointer;
                        color: $bg-dark;
                        display: inline;
                        margin: 0 5%;

                        @media (max-width: 900px) {
                            margin: 0;
                            margin-right: 5%;
                        }
                    }

                    .link:hover {
                        border: 4px solid $highlight;
                    }
                }
            }
        }
    }
}