.header {
    max-width: 1200px;
    height: 100%;
    background-color: $highlight;
    font-family: 'Lora', serif;
    // text-align: center;
    margin: auto;
    padding-bottom: 30px;
    border: 1px solid $bg-dark;
    box-shadow: 0px 10px $bg-dark;

    @media (max-width: 1300px) {
        width: 95%;
    }

    .header_img {
        height: 160px;
        width: 100%;
    }

    .job_title {
        background-color: #975030;
        width: 50%;
        font-size: 24px;
        text-align: center;
        margin: auto;
        padding: 20px 30px;
        position: relative;
        top: -41px;
        color: $highlight;
        z-index: 0;

        @media (max-width: 900px) {
            width: 60%
        }

        @media (max-width: 600px) {
            width: 70%
        }

        @media (max-width: 500px) {
            width: 90%;
            padding: 11px 12px;
            top: -30px;
        }
    }

    .header_body {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 35px 0px 45px 0px;

        @media (max-width: 900px) {
            flex-direction: column;
        }

        .leila_img {
            width: 20%;
            box-shadow: 0px 10px 10px $bg-dark;
            border-radius: 3%;

            @media (max-width: 800px) {
                height: 140px;
                width: 180px;
            }
        }

        .name {
            font-size: 79px;
            color: $text;
            margin: 15px;

            @media (max-width: 900px) {
                font-size: 70px;
            }

            @media (max-width: 600px) {
                font-size: 60px;
            }

            @media (max-width: 500px) {
                font-size: 55px;
            }
        }

        .qualities {
            font-size: 40px;
            color: $text;
            margin: 15px;

            @media (max-width: 600px) {
                font-size: 40px;
            }

            @media (max-width: 500px) {
                font-size: 35px;
            }
        }
    }
}


.about {
    margin: 30px auto;

    .descriptions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        font-size: 1.7rem;
        margin: 35px auto;
        max-width: 1000px;

        @media (max-width: 900px) {
            max-width: 660px;
        }

        @media (max-width: 700px) {
            flex-direction: column;
        }


        .desc {
            width: 45%;
            margin: 10px;

            @media (max-width: 700px) {
                width: 90%;
            }

            h3 {
                font-size: 2.4rem;
                color: $bg-dark;
                margin-bottom: 10px;
                font-family: 'Lora', serif;
                font-weight: bold;
            }

            p {
                font-size: 1.7rem;
                line-height: 1.5;
                font-family: 'Lora', serif;

                a {
                    color: $bg-dark;
                    text-decoration: underline;
                    ;
                }
            }

        }
    }
}