.projects {
    @media (max-width: 900px) {
        max-width: 660px;
        margin: auto;
    }

    h2 {
        font-size: 3rem;
        text-align: center;
        color: $bg-dark;
        font-family: 'Lora', serif;

        span {
            color: $highlight;
            margin: 0 5px;

            @media (max-width: 700px) {
                display: none;
            }
        }
    }

    .proj-list {
        display: flex;
        flex-wrap: wrap;
        margin: 50px auto;
        max-width: 1000px;

        .proj {
            margin: 50px auto;

            @media (max-width: 700px) {
                width: 90%;
            }

            h3 {
                font-size: 2.4rem;
                color: $bg-dark;
                font-family: 'Lora', serif;
                margin-bottom: 10px;
                font-weight: bold;
            }

            p {
                font-size: 1.7rem;
                line-height: 1.5;
                font-family: 'Lora', serif;
            }

            img {
                width: 100%;
                height: 300px;
                margin: 20px 0;
                border: 1px solid $bg-dark;

                @media (max-width: 500px) {
                    height: 200px;
                }
            }
        }
    }
}